<section class="layout-column align-items-center mt-50">
  <input [(ngModel)]="searchText" (keyup)="filter()" type="text" class="large" placeholder="Enter Country Name" id="app-input" data-test-id="app-input" />

  <ul class="card country-list" data-test-id="countryList" >
    <li *ngFor="let c of filteredCountries" class="pa-10 pl-20">{{c}}</li>
  </ul>
​
  <div [hidden]="filteredCountries.length > 0" class="mt-50 slide-up-fade-in" id="no-result" data-test-id="no-result">No Results Found</div>
</section>
